extends layout

block content
  img(src="../images/clou.gif", alt="", class="clu")
  .container
    .col-md-2
    .col-md-8(class="text-center")
        img(src="../images/fly.gif", alt="", LOOP=INFINITE, class="fly")
        p(class="txt") @DaniBisogno: Las mujeres bellas siempre tienen un gato,como mascota, o como marido.
    .col-md-2
